.Quiz {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  flex-grow: 1;
  width: 100%;
  background: linear-gradient(90deg, #403B4A 0%, #E7E9BB 100%);

  h1 {
    color: #fff;
    margin-left: 10px;
  }

  .Wrapper {
    width: 600px;
  }
}