.AnswerItem {
  border-radius: 4px;
  padding: 5px 15px;
  border: 1px solid white;
  transition: background .2s ease-in-out;
  list-style: none;
  margin-bottom: 10px;
  font-weight: 700;
  cursor: pointer;

  &:hover {
    background: rgba(255, 255, 255, 0.2);
  }
}

.success {
  background: linear-gradient(90deg, #0d7000 30%, #5041b2 90%);
  &:hover {
    background: linear-gradient(90deg, #0d7000 30%, #5041b2 90%);
  }
}

.failed {
  background: linear-gradient(90deg, #83000c 30%, #5041b2 100%);
  &:hover {
    background: linear-gradient(90deg, #83000c 30%, #5041b2 100%);
  }
}