.ActiveQuiz {
  color: white;
  box-sizing: border-box;
  margin: 0 10px;
  border: 2px solid white;
  border-radius: 5px;
  padding: 20px;

  small {
    flex-shrink: 0;
    margin-left: 20px;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  .Question {
    display: flex;
    justify-content: space-between;
  }
}